* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid green;
}

#data {
    margin: 0 auto;
    font-weight: bold;
    font-size: 40px;
}

#data li {
    margin-left: 25px;
    display: inline-block;
}

.text {
    color: red
}

.green {
    color: green;
}