* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    text-align: center;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid green;
}

#data {
    margin: 0 auto;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
}

#data li {
    margin: 20px 25px;
    text-align: left;
}

.text {
    color: red
}

.green {
    color: green;
}